<html>
    <head>
        <title>Hrabet</title>
        {% block script %}
        {% endblock %}
        <link rel="stylesheet" href="/static/css/styles.css" />
        <script src="/static/js/sorttable.js"></script>
    </head>
    <body>
        <div id="main_menu">
            {% block menu %}
            <ul>
              <li><a href="{{url_for('show_index')}}">Home</a></li>
              <li><a href="{{url_for('show_hof')}}">Hall of Fame</a></li>
              <li><a href="">PlayerList</a></li>
              <li><a href="{{url_for('show_tournament', tourID='EU20')}}">EURO 2020</a></li>
              <li><a href="{{url_for('show_tournament', tourID='WM18')}}">MS 2018</a></li>
              <li><a href="{{url_for('show_tournament', tourID='EU16')}}">EURO 2016</a></li>
              <li><a href="">Countries</a></li>
            </ul>
            {% endblock %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>