{% extends "base.html" %}
{% block script %}
<script type="text/javascript" src="/static/js/Chart.min.js"></script>

{% endblock %}
{% block body %}
    <tbody>
    LIST OF TOURNAMENTS
    <table>
        <tr>
            <th>Tournament</th>
            <th>No matches</th>
            <th>Players</th>
            <th>Goals</th>
            <th>Goals per match</th>
            <th>% winner</th>
            <th>% goals</th>
            <th>% result</th>
            <th>% joker with point</th>
        </tr>
    {% for row in tour_list %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
           <td>{{ row[2] }}</td>
           <td>{{ row[3] }}</td>
           <td>{{ row[4] }}</td>
           <td>{{ row[5] }}</td>
           <td>{{ row[6] }}</td>
           <td>{{ row[7] }}</td>
           <td>{{ row[8] }}</td>
        </tr>
    {% endfor %}
    </table>

    <table class="sortable">
        <tr>
            <th>Player</th>
            {% for row in tour_list %}
            <th>{{ row[0] }}</th>
            {% endfor %}
            <th>Total Points</th>
            <th>Total Vanilla Points</th>
            <th>Winners</th>
            <th>Goals</th>
            <th>Results</th>
            <th>Joker points</th>
            <th>Joker hit</th>
            <th>Bonus points</th>
        </tr>
    {% for pl in player %}
        <tr>
          <td>{{ pl[0] }}</td>
          {% for tour in tour_list %}
            <td>{{ pl[1][tour[0]] }}</td>
          {% endfor %}
            <td>{{ pl[2] }}</td>
            <td>{{ pl[3] }}</td>
            <td>{{ pl[4] }}</td>
            <td>{{ pl[5] }}</td>
            <td>{{ pl[6] }}</td>
            <td>{{ pl[7] }}</td>
            <td>{{ pl[8] }}</td>
            <td>{{ pl[9] }}</td>
        </tr>
    {% endfor %}
    </table>

            <canvas id="allTourChart" width="1000" height="500"></canvas>
            <canvas id="rankingChart" width="1000" height="500"></canvas>
    <script type="text/javascript">
         function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }



        var ctx2 = document.getElementById('rankingChart').getContext('2d');;
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {

                labels: [
                {% for match in match_list %}
                    "{{match}}",
                {% endfor %}
                ],

                datasets: [
                {% for item in ranking %}
                    {
                    label: "{{item['player']}}",
                    hidden: true,
                    fill: false,
                    lineTension: 0.1,
                    borderColor: getRandomColor(),
                    data: {{item['value']}}
                    },
                 {% endfor %}
                ]
            }

        });

          $(document).ready(function() {
            var table = $('#example').DataTable({
                "paging": false,
                "info": false,
            });

            $('#example tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
                buyerData['datasets'][0]['hidden'] = false
                myNewChart.update()
            } );

            $('#button').click( function () {
                alert( table.rows('.selected').data().length +' row(s) selected' );
            } );
        } );


        var ctx = document.getElementById('allTourChart').getContext('2d');;
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {

                labels: [
                {% for match in match_list %}
                    "{{match}}",
                {% endfor %}
                ],

                datasets: [
                {% for item in ranking %}
                    {
                    label: "{{item['player']}}",
                    hidden: true,
                    fill: false,
                    lineTension: 0.1,
                    borderColor: getRandomColor(),
                    data: {{item['value']}}
                    },
                 {% endfor %}
                ]
            }

        });

          $(document).ready(function() {
            var table = $('#example').DataTable({
                "paging": false,
                "info": false,
            });

            $('#example tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
                buyerData['datasets'][0]['hidden'] = false
                myNewChart.update()
            } );

            $('#button').click( function () {
                alert( table.rows('.selected').data().length +' row(s) selected' );
            } );
        } );
    </script>

    </tbody>
{% endblock %}
